/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #eaecf2;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  font-family: "Snowburst One", cursive;
  font-weight: bold;
  font-size: 56px;
  color: #4250af;
}

.heroSubtitle {
  color: rgb(27, 27, 27);
  font-size: 20px;
}

.actionButton {
  text-decoration: none;
  color: #eaecf2;
  background-color: #4250af;
  padding: 16px;
}

.actionButton:hover {
  color: white;
}
